#carousel {
    height: 400px;
    width: 800px;
    margin: 50px auto;
}

#carousel img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    display: none;
    object-fit: cover;
}

#carousel .active {
    display: block;
    border: 1px solid black;
}

.btn {
    position: absolute;
}

.scale{
    transform: translateY(-25px);
}

#next {
    top: 50%;
    right: 10%;
}

#previous {
    top: 50%;
    right: 85%;
}

#gallery {
    position: relative;
}

#thumbnail img{
    border-radius: 30px;
    padding: 10px;
    min-width: 0;
    flex: 1 1 100%;
}